@using FA.JustBlog.WebCRUD.Models
@model FindString
<form action="\Post\FindPost" method="post">
    <div class="input-group mt-3">
        <input type="search" class="form-control " placeholder="Title" aria-label="Search"
               aria-describedby="search-addon" name="Find" />
        <input type="submit" class="btn btn-outline-primary" placeholder="Search"/>
    </div>
</form>
